@model IEnumerable<string>

<a asp-controller="Home" asp-action="Index"
   asp-route-category=""
   class="btn btn-block 
        @(String.IsNullOrEmpty(ViewBag.SelectedCategory)
            ? "btn-primary"
            : "btn-outline-secondary")">Home</a>

@foreach (var item in Model) {
    <a asp-controller="Home" asp-action="Index"
       asp-route-category="@item"
       asp-route-productPage="1"
       class="btn btn-block 
            @(ViewBag.SelectedCategory == item
                ? "btn-primary"
                : "btn-outline-secondary")">
        @item
    </a>
}
